NAS_HOST=192.168.0.10
NAS_PORT=2022
NAS_USER=matrixn
NAS_IDENTITY_FILE=/home/matrixn/.ssh/wordpress-plugin-deploy
NAS_DSM_VERSION=7.4-90075
NAS_PACKAGE=zion-releasestation
NAS_REMOTE_SPK=/tmp/zion-releasestation-dev.spk
NAS_HEALTH_URL=http://127.0.0.1:24871/releasestation/api/v1/system/health
